@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn-primary {
    @apply py-3 px-5 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-orange-400;
  }
  .btn-secondary {
    @apply py-3 px-5 bg-transparent border-blue-500 border-2 rounded-lg font-semibold;
  }
  .btn-full {
    @apply w-full;
  }
  .navbar__item {
    @apply text-black;
  }
  .navbar__profile {
    @apply bg-blue-400 rounded-lg flex gap-2 p-1;
  }
  .navbar__auth {
    @apply text-black font-primary text-base;
  }
  .navbar__avatar {
    @apply rounded-full overflow-hidden;
  }
  .posts__heading {
    @apply text-5xl font-bold font-primary;
  }
  .posts__sub {
    @apply mt-5 block font-primary font-semibold text-lg text-neutral-400;
  }
  .cards {
    @apply mt-16 grid grid-cols-3 gap-x-6 gap-y-16;
  }
  .navbar__profile {
    @apply flex items-center;
  }
  .navbar__avatar {
    @apply w-12 h-12;
  }
  .card {
    @apply bg-white rounded-[30px] overflow-hidden;
  }
  .card__img {
    @apply w-full;
  }
  .card__body {
    @apply ml-8;
  }
  .card__title {
    @apply my-6 text-xl font-card-title;
  }
  .card__sub {
    @apply text-sm font-primary;
  }
  .card__author {
    @apply flex items-center mb-6 ml-6 mt-20 gap-5;
  }
  .card__author-name {
    @apply text-neutral-400 font-primary font-semibold text-xs
    relative;
  }
  .card__author-name::after {
    content: "";
    position: absolute;
    height: 18px;
    width: 2px;
    background: #ccc;
    right: -12px;
    top: 0;
  }
  .card__avatar {
    @apply rounded-full w-11 h-11 overflow-hidden;
  }
  .card__datetime {
    @apply text-neutral-400 font-primary font-semibold text-xs;
  }
  /* FormAuth */
  .auth__signup,
  .auth__signin {
    @apply flex items-center justify-center flex-col gap-2;
  }
  .auth__heading {
    @apply text-5xl font-primary font-bold;
  }
  .auth__sub {
    @apply text-sm text-neutral-400 font-primary;
  }
  .form {
    @apply w-2/5 bg-blue-400/50 mt-8 mx-auto p-8 rounded-lg;
  }
  .form__control {
    @apply mt-4;
  }
  .form__label {
    @apply text-sm font-primary block text-white mb-2;
  }
  .form__input {
    @apply px-4 py-2 rounded-lg block w-full mb-4;
  }
  .form__desc {
    @apply flex justify-center mt-4;
  }
  .form__transition {
    @apply text-orange-500 cursor-pointer;
  }
}
